<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/favicon.ico}">
<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.ico}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>首页</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    
<!-- Main CSS -->
<link th:href="@{/assets/css/main.css}" rel="stylesheet"/>
    
<!-- Animation CSS -->
<link th:href="@{/assets/css/vendor/aos.css}" rel="stylesheet"/>
</head>
<style>
</style>

<body>
<div id="navApp">
	<!-- 导航栏 -->
	<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container-fluid">
			<div class="navbar-collapse collapse" id="navbarColor02" style="">
				<ul class="navbar-nav mr-auto d-flex align-items-center">
					<li class="nav-item">
						<a class="nav-link" @click="toIndex"><strong>详情</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toFeeding"><strong>饲养</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toVaccine"><strong>疫苗</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toTransaction"><strong>收支</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toUser"><strong>用户</strong></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- 头部 -->
	<header>
		<div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pb-5 bg-primary position-relative">
			<div class="container-fluid text-white h-100">
				<div class="d-lg-flex align-items-center justify-content-between text-center pl-lg-5">
					<div class="col pt-12 pb-12">
						<h1 class="display-3"><strong>OMS养殖管理系统</strong></h1>
					</div>
				</div>
			</div>
		</div>
		<svg style="-webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg); margin-top: -1px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve">
    <path class="bg-primary" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path>
    </svg>
	</header>
</div>
<!-- 主体 -->
<main class="container">
	<section class="pt-4 pb-5 " data-aos="fade-up">
		<div id="omsVueApp">


			<!-- 条件栏 -->
			<table class="table text-center" style="margin-bottom:0;margin-top: 100px">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						品种
					</th>
					<th scope="col">
						来源
					</th>
					<th scope="col">
						疫苗情况
					</th>
					<th scope="col">
						操作
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<input type="text" class="form-control input-round" placeholder="请输入..." v-model="variety">
					</td>
					<td>
						<input type="text" class="form-control input-round" placeholder="请输入..." v-model="source">
					</td>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: 0;">
							<label class="btn btn-secondary active" @click="isTrue">
								<input type="radio" name="options" id="option2" checked/> 已接种
							</label>
							<label class="btn btn-secondary" @click="isFalse">
								<input type="radio" name="options" id="option3" /> 未接种
							</label>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-success btn-round" @click="toList(undefined)">查询</button>
						<button type="button" class="btn btn-success btn-round" data-toggle="modal" data-target="#addDetail">新增</button>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- 数据 -->
			<table class="table text-center" style="margin-bottom: 50px">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						批次
					</th>
					<th scope="col">
						来源
					</th>
					<th scope="col">
						品种
					</th>
					<th scope="col">
						购买价格
					</th>
					<th scope="col">
						疫苗情况
					</th>
					<th scope="col">
						饲养情况
					</th>
					<th scope="col">
						入库时间
					</th>
					<th scope="col">
						操作
					</th>
				</tr>
				</thead>
				<tbody>
					<tr v-for = "(item) in list" :key = "item.id">
						<td>
							{{item.batchNum}}
						</td>
						<td>
							{{item.variety}}
						</td>
						<td>
							{{item.source}}
						</td>
						<td>
							{{item.buyingPrice}}
						</td>
						<td>
							{{item.isVaccine ? '已接种' : '未接种'}}
						</td>
						<td>
							{{item.isFeeding ? '饲养中' : '未饲养'}}
						</td>
						<td>
							{{item.startTime}}
						</td>
						<td>
							<button type="button" class="btn btn-success btn-round" @click="toDetail(item.id)" data-toggle="modal" data-target="#editDetail">修改</button>
							<button type="button" class="btn btn-success btn-round" @click="toDelete(item.id)" data-toggle="modal" data-target="#deleteDetail">删除</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- 分页 -->
			<nav aria-label="Page navigation example" style="margin-top: -30px;margin-bottom: 50px;">
				<ul class="pagination" >
					<li class="page-item"><i class="fas fa-angle-left"></i></a></li>
					<div v-for = "(page) in pageList">
						<li class="page-item"><a class="page-link" @click="toList(page)">{{page}}</a></li>
					</div>
					<li class="page-item"><i class="fas fa-angle-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</section>
</main>
<div id="modalApp">
	<!-- 新增模态框 -->
	<div class="modal fade" id="addDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">新增养殖详情</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table text-center" style="margin-bottom: -10px">
						<tbody>
						<tr>
							<td>
								<label for="variety" class="col-form-label">品种:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="variety" v-model="addVriety">
							</td>
						</tr>
						<tr>
							<td>
								<label for="source" class="col-form-label">来源:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="source" v-model="addSource">
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="toAdd">Send</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 修改模态框 -->
	<div class="modal fade" id="editDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel2">修改养殖详情</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table text-center" style="margin-bottom: -10px">
						<tbody>
						<tr>
							<td>
								<label for="detailVriety" class="col-form-label">批次:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailBatchNum" v-model="detailBatchNum" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailVriety" class="col-form-label">品种:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailVriety" v-model="detailVriety">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailSource" class="col-form-label">来源:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailSource" v-model="detailSource">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailStartTime" class="col-form-label">入库时间:</label>
							</td>
							<td>
								<input type="date" class="form-control" id="detailStartTime" v-model="detailStartTime" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailEndTime" class="col-form-label">出库时间:</label>
							</td>
							<td>
								<input type="date" class="form-control" id="detailEndTime" v-model="detailEndTime">
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="toEdit">Update</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 删除模态框 -->
	<div class="modal fade" id="deleteDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content text-center">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel3">删除养殖详情</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<table class="table text-center" style="margin-bottom: -10px">
					<tbody>
					<tr>
						<td>
							<h5>是否要删除该数据？</h5>
						</td>
					</tr>
					</tbody>
				</table>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="toDelete(undefined)">Delete</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 页脚 -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
<path class="bg-black" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
</svg>
<footer class="bg-black pb-5">
</footer>

<script th:src="@{/assets/js/vendor/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/share.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/functions.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/aos.js}" type="text/javascript"></script>
<!-- 引入Vue -->
<script th:src="@{/vue/vue.js}"></script>
<!-- 引入Axios -->
<script th:src="@{/axios/axios.js}"></script>

<script>
	AOS.init({
		duration: 700
	});

	AOS.init({
		disable: function () {
			var maxWidth = 1200;
			return window.innerWidth < maxWidth;
		}
	});

	$('.carousel').on('slide.bs.carousel', function (event) {
		var height = $(event.relatedTarget).height();
		var $innerCarousel = $(event.target).find('.carousel-inner');
		$innerCarousel.animate({
			height: height
		});
	});

    $(function () {
      $('[data-toggle="popover"]').popover()
    });

    $('.popover-dismiss').popover({
      trigger: 'focus'
    });

	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});



</script>

<script>
	const vue = new Vue({
		el: '#omsVueApp',
		data: {
			variety: '',
			source: '',
			isVaccine: true,
			list: [{
				id: '',
				batchNum: 0,
				variety: '',
				source: '',
				buyingPrice: 0,
				isVaccine: false,
				isFeeding: false,
			}],
			total: 0,
			pageList: [],
			pageNum: 1
		},
		methods: {
			toList(page) {
				if(page === undefined){
					this.pageNum = 1;
				}else {
					this.pageNum = page;
				}
				axios({
					method: 'get',
					url: '/detail/list',
					params: {
						variety: this.variety,
						source: this.source,
						isVaccine: this.isVaccine,
						pageSize: 10,
						pageNum: this.pageNum
					}
				})
				.then(this.listInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			listInit(response) {
				if (response.data.code === 200) {
					this.list = response.data.collection;
					this.total = response.data.total;
					this.pageList = [];
					for (i = 1; i <= response.data.total; i++) {
						this.pageList.push(i);
					}
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			isTrue() {
				console.log(true)
				this.isVaccine = true;
			},
			isFalse() {
				console.log(false)
				this.isVaccine = false;
			},
			refreshInit(){
				this.variety = '';
				this.source = '';
				this.isVaccine = true;
			},
			toAdd(addVriety,addSource){
				this.refreshInit();
				axios({
					method: 'post',
					url: '/detail/add',
					data: {
						variety: addVriety,
						source: addSource
					}
				})
				.then(this.addInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			addInit(response){
				if(response.data.code === 200 ){
					document.getElementById("addDetail").click();
					this.toList();
					alert("新增成功");
					vue2.addVriety = '';
					vue2.addSource = '';
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			toDetail(id){
				vue2.toDetail(id);
			},
			toDelete(detailId){
				if(detailId === undefined){
					axios({
						method: 'delete',
						url: '/detail/delete',
						data: {
							id: this.detailId
						}
					})
					.then(this.deleteInit)
					.catch(function (error) {
						alert("系统异常: " + error);
					});
				}else {
					this.detailId = detailId;
				}
			},
			deleteInit(response){
				if(response.data.code === 200 ){
					this.refreshInit();
					this.toList();
					document.getElementById("deleteDetail").click();
					alert("删除成功");
				}else {
					alert("系统异常: " + response.data.msg);
				}
			}
		},
		created: function () {
			this.toList();
		}
	});

	const vue2 = new Vue({
		el: '#modalApp',
		data: {
			addVriety : '',
			addSource : '',
			detailId : '',
			detailBatchNum : 0,
			detailVriety : '',
			detailSource : '',
			detailStartTime : '',
			detailEndTime : '',
			deleteId : ''
		},
		methods : {
			toAdd(){
				vue.toAdd(this.addVriety,this.addSource)
			},
			toDetail(id){
				axios({
					method: 'get',
					url: '/detail/detail',
					params: {
						id: id
					}
				})
				.then(this.detailInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			detailInit(response){
				if(response.data.code === 200 ){
					this.detailId = response.data.row.id;
					this.detailBatchNum = response.data.row.batchNum;
					this.detailVriety = response.data.row.variety;
					this.detailSource = response.data.row.source;
					this.detailStartTime = response.data.row.startTime;
					this.detailEndTime = response.data.row.endTime;
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			toEdit(){
				axios({
					method: 'put',
					url: '/detail/edit',
					data: {
						id : this.detailId,
						variety : this.detailVriety,
						source : this.detailSource,
						endTime : this.detailEndTime
					}
				})
				.then(this.editInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			editInit(response){
				if(response.data.code === 200 ){
					this.detailId = '';
					this.detailVriety = '';
					this.detailSource = '';
					this.detailEndTime = '';
					vue.refreshInit();
					vue.toList();
					document.getElementById("editDetail").click();
					alert("修改成功");
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			toDelete(id){
				vue.toDelete(id);
			}
		}
	});

	new Vue({
		el: "#navApp",
		methods: {
			toIndex(){
				window.location.href = 'http://localhost:8801/page/index';
			},
			toFeeding(){
				window.location.href = 'http://localhost:8801/page/feeding';
			},
			toVaccine(){
				window.location.href = 'http://localhost:8801/page/vaccine';
			},
			toTransaction(){
				window.location.href = 'http://localhost:8801/page/transaction';
			},
			toUser(){
				window.location.href = 'http://localhost:8801/page/user';
			}
		}
	});
</script>

</body>
</html>