<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/favicon.ico}">
<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.ico}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<title>首页</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    
<!-- Main CSS -->
<link th:href="@{/assets/css/main.css}" rel="stylesheet"/>
    
<!-- Animation CSS -->
<link th:href="@{/assets/css/vendor/aos.css}" rel="stylesheet"/>
    
</head>

<body>

<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="table.html"><i class="fas fa-anchor mr-2"></i><strong>Anchor UI</strong> Kit</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarColor02" style="">
			<ul class="navbar-nav mr-auto d-flex align-items-center">
				<li class="nav-item">
					<a class="nav-link" href="table.html">Intro</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Examples </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="./landing.html">Home Landing</a>
						<a class="dropdown-item" href="./login.html">User Login</a>
						<a class="dropdown-item" href="./blog.html">Blog Index</a>
						<a class="dropdown-item" href="./page.html">Sample Page</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./docs.html">Docs</a>
				</li>
			</ul>
			<!--		<ul class="navbar-nav ml-auto d-flex align-items-center">-->
			<!--			<li class="nav-item">-->
			<!--			<span class="nav-link" href="#">-->
			<!--			<a class="btn btn-info btn-round shadow-sm" href="#" data-toggle="modal" data-target="#modal_newsletter"><i class="fas fa-cloud-download-alt"></i> Download UI Kit <a href="https://github.com/wowthemesnet/Anchor-Bootstrap-UI-Kit/archive/master.zip" class="downloadzip" class="hidden"></a>-->
			<!--			</a>-->
			<!--			</span>-->
			<!--			</li>-->
			<!--		</ul>-->
		</div>
	</div>
</nav>

<header>
	<div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pb-5 bg-primary position-relative">
		<div class="container-fluid text-white h-100">
			<div class="d-lg-flex align-items-center justify-content-between text-center pl-lg-5">
				<div class="col pt-12 pb-12">
					<h1 class="display-3"><strong>OMS养殖管理系统</strong></h1>
				</div>
			</div>
		</div>
	</div>
	<svg style="-webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg); margin-top: -1px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve">
    <path class="bg-primary" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path>
    </svg>
</header>
<main class="container">
	<section class="pt-4 pb-5 " data-aos="fade-up">
		<table class="table text-center" style="margin-bottom:0;margin-top: 50px">
			<tbody>
			<tr>
				<td>
					<p class="font-weight-bold" style="margin-top: 6px;float: right;">品种:</p>
				</td>
				<td>
					<input type="text" class="form-control input-round" placeholder="First name">
				</td>
				<td>
					<p class="font-weight-bold" style="margin-top: 6px;float: right;">来源:</p>
				</td>
				<td>
					<input type="text" class="form-control input-round" placeholder="First name">
				</td>
				<td>
					<p class="font-weight-bold" style="margin-top: 6px;float: right;">疫苗情况:</p>
				</td>
				<td>
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-secondary">
						<input type="radio" name="options" id="option2"> 已接种
					</label>
					<label class="btn btn-secondary">
						<input type="radio" name="options" id="option3"> 未接种
					</label>
				</div>
				</td>
				<td>
					<button type="button" class="btn btn-success btn-round">查询</button>
				</td>
			</tr>
			</tbody>
		</table>
		<table class="table text-center" style="margin-bottom: 50px">
			<thead class="thead-dark">
			<tr>
				<th scope="col">
					来源
				</th>
				<th scope="col">
					品种
				</th>
				<th scope="col">
					购买价格
				</th>
				<th scope="col">
					售出价格
				</th>
				<th scope="col">
					饲养情况
				</th>
				<th scope="col">
					疫苗情况
				</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Mark
					</td>
					<td>
						Otto
					</td>
					<td>
						@mdo
					</td>
					<td>
						Mark
					</td>
					<td>
						Otto
					</td>
					<td>
						@mdo
					</td>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="pt-4 pb-0 mb-12" data-aos="fade-up">
		<nav aria-label="Page navigation example" style="margin-top: -30px;margin-bottom: 50px;">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>
				<li class="page-item"><a class="page-link" href="#">6</a></li>
				<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
			</ul>
		</nav>
	</section>
</main>

<!--------------------------------------
FOOTER
 --------------------------------------->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
<path class="bg-black" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
</svg>
<footer class="bg-black pb-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md mr-4">
				<i class="fas fa-copyright text-white"></i>
				<small class="d-block mt-3 text-muted">©
					<script>document.write(new Date().getFullYear())</script>
					Anchor Bootstrap UI Kit,  by Sal <a target="_blank" href="https://www.wowthemes.net">@wowthemesnet</a>. License MIT.
				</small>
			</div>
			<div class="col-6 col-md">
				<h5 class="mb-4 text-white">Features</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Cool stuff</a></li>
					<li><a class="text-muted" href="#">Random feature</a></li>
					<li><a class="text-muted" href="#">Team feature</a></li>
					<li><a class="text-muted" href="#">Stuff for developers</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5 class="mb-4 text-white">Resources</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Resource</a></li>
					<li><a class="text-muted" href="#">Resource name</a></li>
					<li><a class="text-muted" href="#">Another resource</a></li>
					<li><a class="text-muted" href="#">Final resource</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5 class="mb-4 text-white">Utilities</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Business</a></li>
					<li><a class="text-muted" href="#">Education</a></li>
					<li><a class="text-muted" href="#">Government</a></li>
					<li><a class="text-muted" href="#">Gaming</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5 class="mb-4 text-white">About</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Team</a></li>
					<li><a class="text-muted" href="#">Locations</a></li>
					<li><a class="text-muted" href="#">Privacy</a></li>
					<li><a class="text-muted" href="#">Terms</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script th:src="@{/assets/js/vendor/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/share.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/functions.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/aos.js}" type="text/javascript"></script>
<!-- 引入Vue -->
<script th:src="@{/vue/vue.js}"></script>
<!-- 引入Axios -->
<script th:src="@{/axios/axios.js}"></script>

<script>
	AOS.init({
		duration: 700
	});

	AOS.init({
		disable: function () {
			var maxWidth = 1200;
			return window.innerWidth < maxWidth;
		}
	});

	$('.carousel').on('slide.bs.carousel', function (event) {
		var height = $(event.relatedTarget).height();
		var $innerCarousel = $(event.target).find('.carousel-inner');
		$innerCarousel.animate({
			height: height
		});
	});

    $(function () {
      $('[data-toggle="popover"]').popover()
    });

    $('.popover-dismiss').popover({
      trigger: 'focus'
    });

	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
</script>

<script>

</script>
</body>



</html>