<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/favicon.ico}">
	<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.ico}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>交易</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>

	<!-- Main CSS -->
	<link th:href="@{/assets/css/main.css}" rel="stylesheet"/>

	<!-- Animation CSS -->
	<link th:href="@{/assets/css/vendor/aos.css}" rel="stylesheet"/>

</head>

<body>
<!-- 导航栏 -->
<div id="navApp">
	<nav class="topnav navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container-fluid">
			<div class="navbar-collapse collapse" id="navbarColor02" style="">
				<ul class="navbar-nav mr-auto d-flex align-items-center">
					<li class="nav-item">
						<a class="nav-link" @click="toIndex"><strong>详情</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toFeeding"><strong>饲养</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toVaccine"><strong>疫苗</strong></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" @click="toTransaction"><strong>收支</strong></a>
					</li>
					<li class="nav-item" style="display:none" id="isAdmin">
						<a class="nav-link" @click="toUser" v-if="isAdmin"><strong>用户</strong></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<!-- 头部 -->
<header>
	<div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pb-5 bg-primary position-relative">
		<div class="container-fluid text-white h-100">
			<div class="d-lg-flex align-items-center justify-content-between text-center pl-lg-5">
				<div class="col pt-12 pb-12">
					<h1 class="display-3"><strong>OMS养殖管理系统</strong></h1>
					<h4 class="display-5" style="margin-top: 30px"><strong>交易管理界面</strong></h4>
				</div>
			</div>
		</div>
	</div>
	<svg style="-webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg); margin-top: -1px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve">
    <path class="bg-primary" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path>
    </svg>
</header>

<!-- 主体 -->
<main class="container">
	<section class="pt-4 pb-5 " data-aos="fade-up">
		<div id="mainApp">

			<!-- 条件栏 -->
			<table class="table text-center" style="margin-bottom:0;margin-top: 100px">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						操作
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<button type="button" class="btn btn-success btn-round" data-toggle="modal" data-target="#addDetail">新增</button>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- 数据 -->
			<table class="table text-center" style="margin-bottom: 50px">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						批次
					</th>
					<th scope="col">
						品种
					</th>
					<th scope="col">
						来源
					</th>
					<th scope="col">
						交易数量
					</th>
					<th scope="col">
						交易价格
					</th>
					<th scope="col">
						交易时间
					</th>
					<th scope="col">
						负责人名称
					</th>
					<th scope="col">
						操作
					</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for = "(item) in list" :key = "item.id">
					<td>
						{{item.batchNum}}
					</td>
					<td>
						{{item.variety}}
					</td>
					<td>
						{{item.source}}
					</td>
					<td>
						{{item.transactionNumber}}
					</td>
					<td>
						{{item.transactionPrice}}
					</td>
					<td>
						{{item.transactionTime}}
					</td>
					<td>
						{{item.responsiblePersonName}}
					</td>
					<td>
						<button type="button" class="btn btn-success btn-round" @click="toDetail(item.id)" data-toggle="modal" data-target="#editDetail">详情</button>
						<button type="button" class="btn btn-success btn-round" @click="toDelete(item.id)" data-toggle="modal" data-target="#deleteDetail">删除</button>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- 分页 -->
			<nav aria-label="Page navigation example" style="margin-top: -30px;margin-bottom: 50px;">
				<ul class="pagination" >
					<li class="page-item"><i class="fas fa-angle-left"></i></a></li>
					<div v-for = "(page) in pageList">
						<li class="page-item"><a class="page-link" @click="toList(page)">{{page}}</a></li>
					</div>
					<li class="page-item"><i class="fas fa-angle-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</section>
</main>

<!-- 模态框 -->
<div id="modalApp">

	<!-- 新增模态框 -->
	<div class="modal fade" id="addDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="margin-top: 100px">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">新增交易记录</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table text-center" style="margin-bottom: -10px">
						<tbody>
						<tr>
							<td>
								<label for="addBatchNum" class="col-form-label">批次:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="addBatchNum" v-model="addData.batchNum">
							</td>
						</tr>
						<tr>
							<td>
								<label for="addTransactionNumber" class="col-form-label">交易数量:</label>
							</td>
							<td>
								<input type="text" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" id="addTransactionNumber" v-model="addData.transactionNumber">
							</td>
						</tr>
						<tr>
							<td>
								<label for="addTransactionPrice" class="col-form-label">交易价格:</label>
							</td>
							<td>
								<input type="text" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" id="addTransactionPrice" v-model="addData.transactionPrice">
							</td>
						</tr>
						<tr>
							<td>
								<label for="addTransactionTime" class="col-form-label">交易时间:</label>
							</td>
							<td>
								<input type="datetime-local" class="form-control" id="addTransactionTime" v-model="addData.transactionTime">
							</td>
						</tr>
						<tr>
							<td>
								<label for="addResponsiblePersonName" class="col-form-label">负责人名称:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="addResponsiblePersonName" v-model="addData.responsiblePersonName">
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="toAdd">Send</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 详情模态框 -->
	<div class="modal fade" id="editDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="margin-top: 50px">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel2">交易详情</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table text-center" style="margin-bottom: -10px">
						<tbody>
						<tr>
							<td>
								<label for="detailBatchNum" class="col-form-label">批次:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailBatchNum" v-model="detailData.batchNum" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailVariety" class="col-form-label">品种:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailVariety" v-model="detailData.variety" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailSource" class="col-form-label">来源:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailSource" v-model="detailData.source" disabled="disabled" >
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailFeedingFrequency" class="col-form-label">交易数量:</label>
							</td>
							<td>
								<input type="text" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" id="detailFeedingFrequency" v-model="detailData.transactionNumber" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailFodderType" class="col-form-label">交易价格:</label>
							</td>
							<td>
								<input type="text" class="form-control" oninput="value=value.replace(/[^\d]/g,'')" id="detailFodderType" v-model="detailData.transactionPrice" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailTransactionTime" class="col-form-label">交易时间:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailTransactionTime" v-model="detailData.transactionTime" disabled="disabled">
							</td>
						</tr>
						<tr>
							<td>
								<label for="detailResponsiblePersonName" class="col-form-label">负责人名称:</label>
							</td>
							<td>
								<input type="text" class="form-control" id="detailResponsiblePersonName" v-model="detailData.responsiblePersonName" disabled="disabled">
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 删除模态框 -->
	<div class="modal fade" id="deleteDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="margin-top: 100px">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel3">删除交易记录</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<table class="table text-center" style="margin-bottom: -10px">
					<tbody>
					<tr>
						<td>
							<h5>是否要删除该数据？</h5>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="toDelete(undefined)">Delete</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- 页脚 -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
<path class="bg-black" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
</svg>
<footer class="bg-black pb-5">
</footer>

<script th:src="@{/assets/js/vendor/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/share.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/functions.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/vendor/aos.js}" type="text/javascript"></script>
<!-- 引入Vue -->
<script th:src="@{/vue/vue.js}"></script>
<!-- 引入Axios -->
<script th:src="@{/axios/axios.js}"></script>

<script>
	AOS.init({
		duration: 700
	});

	AOS.init({
		disable: function () {
			var maxWidth = 1200;
			return window.innerWidth < maxWidth;
		}
	});

	$('.carousel').on('slide.bs.carousel', function (event) {
		var height = $(event.relatedTarget).height();
		var $innerCarousel = $(event.target).find('.carousel-inner');
		$innerCarousel.animate({
			height: height
		});
	});

	$(function () {
		$('[data-toggle="popover"]').popover()
	});

	$('.popover-dismiss').popover({
		trigger: 'focus'
	});

	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	});
</script>

<script>

	const mainApp = new Vue({
		el: '#mainApp',
		data: {
			listData : {
				pageNum : 1,
				pageSize : 5
			},
			list : [{
				id : '',
				detailId : '',
				batchNum : null,
				variety : '',
				source : '',
				transactionNumber : null,
				transactionPrice : null,
				transactionTime : '',
				responsiblePersonName : ''
			}],
			deleteId : '',
			total : 0,
			pageList : []
		},
		methods: {
			toList(page) {
				if(page === undefined){
					this.listData.pageNum = 1;
				}else {
					this.listData.pageNum = page;
				}
				axios({
					method: 'get',
					url: '/transaction/list',
					params: this.listData
				})
				.then(this.listInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			listInit(response) {
				if (response.data.code === 200) {
					this.list = response.data.collection;
					this.total = response.data.total;
					this.pageList = [];
					for (i = 1; i <= response.data.total; i++) {
						this.pageList.push(i);
					}
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			toAdd(addData){
				axios({
					method: 'post',
					url: '/transaction/add',
					data: addData
				})
				.then(this.addInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			addInit(response){
				if(response.data.code === 200 ){
					document.getElementById("addDetail").click();
					this.toList();
					alert("新增成功");
					modalApp.addData = {
						batchNum : '',
						transactionNumber : null,
						transactionPrice : null,
						transactionTime : '',
						addResponsiblePersonName : ''
					};
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			toDetail(id){
				modalApp.toDetail(id);
			},
			toDelete(id){
				if(id === undefined){
					axios({
						method: 'delete',
						url: '/transaction/delete',
						data: {
							id: this.deleteId
						}
					})
					.then(this.deleteInit)
					.catch(function (error) {
						alert("系统异常: " + error);
					});
				}else {
					this.deleteId = id;
				}
			},
			deleteInit(response){
				if(response.data.code === 200 ){
					this.toList();
					document.getElementById("deleteDetail").click();
					alert("删除成功");
				}else {
					alert("系统异常: " + response.data.msg);
				}
			}
		},
		created: function () {
			this.toList();
		}
	});

	const modalApp = new Vue({
		el: '#modalApp',
		data: {
			addData : {
				batchNum : '',
				transactionNumber : null,
				transactionPrice : null,
				transactionTime : '',
				addResponsiblePersonName : ''
			},
			detailData : {
				id : '',
				detailId : '',
				batchNum : null,
				variety : '',
				source : '',
				transactionNumber : null,
				transactionPrice : null,
				transactionTime : '',
				responsiblePersonName : ''
			}
		},
		methods : {
			toAdd(){
				mainApp.toAdd(this.addData)
			},
			toDetail(id){
				axios({
					method: 'get',
					url: '/transaction/detail',
					params: {
						id: id
					}
				})
				.then(this.detailInit)
				.catch(function (error) {
					alert("系统异常: " + error);
				});
			},
			detailInit(response){
				if(response.data.code === 200 ){
					this.detailData = response.data.row;
				}else {
					alert("系统异常: " + response.data.msg);
				}
			},
			toDelete(id){
				mainApp.toDelete(id);
			}
		}
	});

	const navApp = new Vue({
		el: "#navApp",
		data : {
			isAdmin : false
		},
		methods: {
			toIndex(){
				window.location.href = 'http://localhost:8801/page/index';
			},
			toFeeding(){
				window.location.href = 'http://localhost:8801/page/feeding';
			},
			toVaccine(){
				window.location.href = 'http://localhost:8801/page/vaccine';
			},
			toTransaction(){
				window.location.href = 'http://localhost:8801/page/transaction';
			},
			toUser(){
				window.location.href = 'http://localhost:8801/page/user';
			}
		},
		created: function () {
			const strcookie = document.cookie;
			const arrcookie = strcookie.split("; ");
			//遍历匹配
			for ( var i = 0; i < arrcookie.length; i++) {
				var arr = arrcookie[i].split("=");
				if (arr[0] == 'isAdmin'){
					this.isAdmin = JSON.parse(arr[1]);
					$("#isAdmin").toggle();
				}
			}
		}
	});
</script>

</body>
</html>